<h1>Goals</h1>

<% @goals.each do |goal| %>
  <ul>
    <% if (goal.public_post == false && current_user.id == goal.user_id ) || goal.public_post %>
      <li><%= link_to goal.title, goal_url(goal) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "New Goal", new_goal_url %>
